/* "*" Overstyrer body" */
body {
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Dette er en kommentar i CSS */
}
img {
    position: fixed;
    width: 200px;
    top: 20px;
    left: 20px;
}
#container {
    background-color: red;
    padding: 20px; 
}
p.paragraphStyle {
    background-color: blue;
    border: 2px dotted black;
    padding: 5px;
}
.buttonStyle {
    /* background-color: lightgreen;
    color: #2e2e2e;
    border: none; */
    cursor: pointer;
}
.ulist {
    list-style: decimal;
    display: flex;
    flex-direction: column;
}
.olist {
    list-style: circle;
    display: flex;
    flex-direction: column;
}